#main {
  width: 1000px;
  background-color: ;
  margin: 0 auto;
}
#part2 {
  margin-left: 300px;
  margin-top: -100px;
}
#list1 li {
  list-style-type: none;
  display: inline-block;
}
#list1 {
  margin-left: -40px;
  margin-top: -2px;
}
.a1 {
  margin-left: 7.5px;
}
#list li p {
  color: black !important;
}
#art1 {
  width: 940px;
  background-color: #f4920d;
  border-radius: 25px;
  height: auto;
}
}
#potitle {
  margin-left: 20px;
  margin-top: 20px;
  position: relative;
  top: 10px;
}
#list2 li p {
  color: white;
}
#list2 li {
  color: white;
}
.mini1 {
  width: 190px;
}
#list2 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
	width: 200px;
	border-right: 3px grey solid;
}
#stripe {
  width: 2px;
  height: 500px;
  background-color: #afaaaa;
  margin-left: 300px;
  margin-top: -510px;
}
#button {
  margin-top: 75px;
  margin-left: 180px;
  width: 200px;
  height: 77px;
  border-radius: 33px;
  background-color: #eaeaea;
}
#button h2 {
  width: 127px;
  height: 17px;
  color: #000000;
  font-family: "Arial MT";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-left: 25px;
}
#title1 {
  width: 555px;
  height: 24px;
  color: #9e9d9d;
  font-family: "Arial MT";
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  margin-left: 55px;
  margin-top: 10px;
}
#biglist li {
  list-style-type: none;
  display: inline-block;
  width: 250px;
}
.potitles {
  width: 290px;
  height: 21px;
  color: #000000;
  font-family: "Arial MT";
  font-size: 20px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;
}
.citatext {
  width: 210px;
  text-decoration: none;
}
#biglist {
  margin-left: 15px;
}
#biglist li p {
  text-decoration: none;
  color: black;
  width: 235px;
  color: #000000;
  font-family: "Arial MT";
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
}
.speimg {
  min-height: 100px;
  min-width: 100px;
  max-width: 110px;
  max-height: 110px;
}
.pititle {
  margin-left: 120px;
  margin-top: -127px;
  height: 110px;
  width: 235px;
  max-height: 110px;
}
.citations {
  position: relative;
  top: -105px;
}
.pre {
  position: relative;
  top: -110px;
}
#art2 {
  margin-top: 50px;
}
#art3 {
  width: 940px;
  height: 180px;
  background-color: #73ee5d;
  border-radius: 25px;
}
#form {
  width: 250px;
  position: relative;
  top: 50px;
  margin-left: 60px;
  width: 308px;
}
#text {
  width: 372px;
  height: 48px;
  border-radius: 15px;
  background-color: #ffffff;
  margin-left: 510px;
  position: relative;
  top: -60px;
}
#button2 {
  margin-left: 600px;
  width: 200px;
  height: 50px;
  position: relative;
  top: -50px;
  background-color: #ed462f;
  border-radius: 25px;
}
#button2 h1 {
  color: #ffffff;
  font-family: "Arial MT";
  font-size: 18px;
  font-weight: bold;
  line-height: 16px;
}

#main_rnd_block {
	width: 500px;
	display: block;
}
/*
#main_rnd {
  width: 550px;
  margin-left: 340px;
  position: relative;
  top: -450px;
}*/
#part3 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}
