$main-width: 1920px;
$font-main: "roboto";
$font-secondary: "open sans";
$color-main: #000;
$color-menu: #c0c0c0;
$color-secondary: #a1a1a1;
$color-third: #f5f5f5;
$color-block-1: #ebbd2f;
$color-footer: #2a2b2c;